@page
@using RetroGamingWebApp.Proxy
@using RetroGamingWebApp.Features
@model IndexModel
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore
@inject ILeaderboardClient proxy
@{
    ViewData["Title"] = "Home page";
}
@inject Microsoft.FeatureManagement.IFeatureManagerSnapshot featureManager

<h1>All Time Highscore Hall of Fame</h1>
@if (await featureManager.IsEnabledAsync(nameof(AppFeatureFlags.LeaderboardSize)))
{
    <h3>List limited to @Model.LeaderboardSize items</h3>
}

@foreach (var score in Model.Scores)
{
<feature name="@AppFeatureFlags.RetroFonts">
    <div class="enjoy-css">@score.Game: @score.Points -> @score.Nickname</div>
</feature>
<feature name="@AppFeatureFlags.RetroFonts" negate="true">
    <div>@score.Game: @score.Nickname - @score.Points</div>
</feature>
}

<feature name="@AppFeatureFlags.LeaderboardSize, @AppFeatureFlags.Beta" requirement="All">
    <h3>Let us know what you think. Sign up for beta!</h3>
</feature>